In [1]:
import pandas as pd

df = pd.read_csv('all_glints.csv')

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87824 entries, 0 to 87823
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Job Link     87824 non-null  object
 1   source_file  87824 non-null  object
dtypes: object(2)
memory usage: 1.3+ MB

In [4]:
unique_links = df['Job Link'].nunique()
print(f"Unique: {unique_links}")

duplicates = df[df.duplicated(subset='Job Link', keep=False)]
print(f"Duplicates: {len(duplicates)}")

Unique: 87746
Duplicates: 79

In [1]:
df_cleaned = df.drop_duplicates(subset='Job Link')
df_cleaned.to_csv('all_glints_cleaned.csv', index=False)

# Cek hasil akhir
print(f"Jumlah bersih: {len(df_cleaned)}")
df_cleaned.head()

NameError: name 'df' is not defined

In [2]:
import pandas as pd
df_scrapped = pd.read_csv('scraped_batch_01 copy.csv')
df_scrapped.head()

,url,posisi,company,lokasi,industry,employment_type,tanggal_posting,salary,description,requirements,skills,source_file
0,https://glints.com/id/opportunities/jobs/sales...,Sales Consultant,PT AMBARA KARYA BERSAMA,Pekerjaan,Business Development & Sales,NaN,NaN,NaN,"Requirements : Pria / Wanita, usia max 25 tahu...","Kerja di kantor, Pengalaman kurang dari 1 tahu...","Sales and Marketing, Negotiation Skills, Teamwork",job_links_Consultant.csv
1,https://glints.com/id/opportunities/jobs/sales...,Sales Consultant,Satya Mandiri Motors,Pekerjaan,Industri Jasa,NaN,NaN,NaN,Pria / Wanita usia max 30th Pendidikan min SMA...,"Kerja di kantor, 1 - 3 tahun pengalaman, Minim...","Automotive Engineering, Communicative, Custome...",job_links_Consultant.csv
2,https://glints.com/id/opportunities/jobs/accou...,Accounting Staff,PT Sentrasarana TirtaBening (Yuki Water Filter),Pekerjaan,Finance,NaN,NaN,NaN,Job Qualification: Graduates majoring in Finan...,"Kerja di kantor, 1 - 3 tahun pengalaman, Minim...","Teamwork, Accounting, Microsoft Office",job_links_Accounting_Staff.csv
3,https://glints.com/id/opportunities/jobs/sales...,Sales Consultant,PT Sigzacindo Nusantara (Coloni) Surabaya,Pekerjaan,Business Development & Sales,NaN,NaN,NaN,Min SMK/SMA/Fresh Graduate Lebih diutamakan pe...,"Kerja di kantor, Pengalaman kurang dari 1 tahu...","Teamwork, Negotiation Skills, Communication Sk...",job_links_Consultant.csv
4,https://glints.com/id/opportunities/jobs/acade...,Academic Sales Consultant,PT Chandra Naya Laksana (CNL Books),Pekerjaan,Business Development & Sales,NaN,NaN,NaN,JOIN CNL BOOKS: Academic Sales Consultant Are ...,"Hybrid, 3 - 5 tahun pengalaman, Minimal Sarjan...","Perusahaan Premium, Perusahaan Premium, Perusa...",job_links_Consultant.csv